@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --color-cgreen: #44ffa1;
  --color-cpurple-900: #24053e;
  --color-cpurple-500: #584d62;
  --color-cpurple-100: #fcf8ff;
  --font-manrope: "Manrope", sans-serif;
  --font-fraunces: "Fraunces", serif;
  --text-title: clamp(1.5rem, 3.65vw, 2rem);
  --text-paragraph: min(1rem, 2.08vw, 1.125rem);
}

main section:nth-child(n)::before {
  clip-path: ellipse(65% 100% at 50% 0%);
  content: "";
  display: block;
  height: 4.5rem;
  overflow: hidden;
  width: 100%;
}

main section:nth-child(1)::before {
  background-color: var(--color-cpurple-900);
  margin-block-end: 5rem;
}

main section:nth-child(2)::before {
  background-color: var(--color-cpurple-100);
}

@media screen and (min-width: 47.99875rem) {
  main section:nth-child(n)::before {
    clip-path: ellipse(52% 100% at 50% 0%);
  }

  main section:nth-child(1)::before { 
    margin-block-end: 8.5rem;
  }
}

@media screen and (min-width: 79.99875rem) {
  main section:nth-child(n)::before {
    clip-path: ellipse(51% 100% at 50% 0%);
  }

   main section:nth-child(1)::before { 
    margin-block-end: 10.0625rem;
  }
}

